page-result {
.xxx{
    background-color: rgb(191, 201, 202);
    position: absolute !important;
    right: 0 !important;
    top: 0;
 }
 .btnFavorito{
    width: 50%;
    height: 25%;
    right: 130%;
 }
}
