.pageHome {
    background: url('../../assets/imgs/saladeclases.jpg') no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}
h1 {
    text-align: center;
    color: #03397b;
    font-family: 'Sweet Hipster';
    font-size: 110px;
    //font-weight: bold;
    margin-top: 200px !important;
    margin-bottom: 150px !important;
}

.buttonCenter {
    text-align: center;
    
}